.exercise-12e {
  border-color: rgb(171, 171, 171);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 280px;
}

.e-row {
  display: flex;
  justify-content: space-between;
  height: 31px;
  align-items: center;
}

.home, .notification, .messages {
  margin-left: 11px;
  font-family: roboto, arial;
  font-size: 15px;
}

.num-14, .num-3, .num-5 {
  font-size: 12px;
  font-family: roboto, arial;
  color: white;
  background-color: rgb(88, 28, 239);
  border-style: none;
  border-width: bold;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 12px;
  margin-right: 11px;
}

.exercise-12g {
  width: 300px;
  margin-top: 50px;
}

.g-row {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
}

.prime-column {
  display: flex;
  flex-direction: row;
  flex: 60px, 1;
  align-items: center;
}

.column1 {
  width: 60px;
  padding: 3px;
}

.profile-pic {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  object-fit: cover;
  padding-top: 3px;
}

.column2 {
}

.first-name {
  font-family: roboto, sans-serif, arial;
  font-size: 13px;
  font-weight: bold;
}

.job-title {
  font-family: roboto, arial;
  font-size: 13px;
  color: rgb(137, 137, 137);
  margin-top: 4px;
  margin-bottom: 4px;
  
}

.stats {
  font-family: roboto, arial;
  font-size: 11px;
  color: rgb(137, 137, 137)
}

.follow {
  background-color: rgb(112, 80, 254);
  color: white;
  font-family: roboto, arial;
  font-size: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  border-style: none;
  transition: opacity 0.15s;
}

.follow:hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.follow:active {
  opacity: 0.5;
}

.exercise-12f {
  margin-top: 50px;
  background-color: blueviolet;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home {
  color: white;
  font-family: roboto, arial;
  font-size: 11px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  flex: 1;
}

.search {
  background-color: white;
  height: 22px;
  border-radius: 12px;
  border-style: none;
  width: 100%;
  margin-left: 60px;
  margin-right: 55px;
  padding-left: 15px;
  font-size: 10px;
  color: gray;
}


.download {
  color: white;
  font-family: roboto, arial;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  height: 20px;
  width: 75px;
  text-align: center;
  padding-top: 5px;
  margin-right: 6px;
  transition: 0.15s;
}

.download:hover {
  cursor: pointer;
  font-weight: bold;
}

.download:active {
  background-color: white;
  color: blueviolet;
}