.grid-11a {
  display: grid;
  grid-template-columns: 200px 75px;
}

.grid-11b {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.grid-11c {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.column, .column2, .column12 {
  background-color: pink;
}

.column1, .column11, .column13 {
  background-color: skyblue;
}

p {
  font-family: roboto, arial;
}

.grid-11 {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 15px;
  margin-top: 40px;
}
.grid-11d {
  display: grid;
  grid-template-columns: 150px;
}

.d-column1 {
  display: grid;
  grid-template-rows: 150px 20px 24px 1fr;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.d-row2, .d-row3, .d-row4 {
  padding-left: 5px;
}
.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d-row1 {
  display: grid;
  grid-template-columns: 150px;
}

.d-row2 {
  display: grid;
  grid-template-columns: 1fr
}

.first-name {
  font-weight: bold;
  font-size: 13px;
  line-height: 7px;
}

.d-row3 {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 24px;
  align-items: center;
  margin-top: 8px;
}



.round-pic {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 12px;
}

.d-column3 {
  padding-bottom: 10px;
}

.mutual-friends {
  color: rgb(100, 99, 99);
  font-size: 11px;
  padding-left: 5px;
  padding-top: 7px;
}

.d-row4 {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 5px;
}

.add-friend {
  height: 25px;
  width: 80px;
  font-size: 11px;
  background-color: rgb(76, 49, 254);
  border-style: none;
  border-radius: 4px;
  color: white;
  margin-top: 13px;
}