  .row1 {
        display: block;
      }
      
      .video-preview {
        display: inline-block;
        vertical-align: top;
        margin-left: 7px;
      }
      .horizontal1 {
        width: 300px;
      }

      .preview1 {
        width: 300px;
      }

      .pro-pic {
        width: 40px;
        border-radius: 20px;
        margin-top: 8px;
      }

      .profile-picture {
        width: 50px;
        display: inline-block;
        vertical-align: top;
      }

      .video-description {
        width: 240px;
        display: inline-block;
      }

      p {
        font-family: roboto, arial;
        margin-top: 0;
        margin-bottom: 0;
      }
      .video-title {
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
        line-height: 23px;
      }

      .video-author {
        color: rgb(118, 118, 118);
        font-size: 12px;
        margin-top: 12px;
      }

      .video-stats {
        color:rgb(118, 118, 118);
        font-size: 12px;
        margin-top: 5px; 
      }