.body {
  height: 3000px;
}

div {
  font-family: roboto, arial;
}

.top-left {
  background-color: black;
  color: white;
  top: 20px;
  left: 20px;
  position: fixed;
}

.right-sidebar {
  background-color: green;
  color: white;
  width: 100px;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.overlay-element {
  background-color: rgba(0,0,0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-container {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
}

.modal-title {
  font-size: 16px;
  font-weight: bold;
}

.description {
  font-size: 10px;
  margin-top: 8px;
}

.close-button {
  font-size: 9px;
  padding: 0.5px;
  width: 34px;
  margin-top: 8px;
}

.close-button:hover {
  cursor: pointer;
}